<h1>Create a onetime note</h1>

<%= render partial: "giphy" %>

<%= simple_form_for(@page) do |f| %>
  <%= f.input :message, label: false, placeholder: "your secret note here..." %>
  <div class="preview-box">
    <p>your secret note preview here...</p>
  </div>

  <div class="optional-fields hidden">
    <%= f.input :duration, input_html: { value: 7, max: 10, min: 1 } %>
    <%= f.input(
      :url_key,
      as: :string,
      placeholder: "url-key-example",
      label: "Specify url: #{root_url + @page.url_key}"
    ) %>
    <%= f.input :require_password %>
    <%= f.input :password %>
  </div>

  <%= f.button :submit, "Create Note" %>
  <button id="more-options">More Options</button>
<% end %>

