<h1>Create a onetime note</h1>

<%= render partial: "giphy" %>

<%= simple_form_for(@page) do |f| %>
  <%= f.input(
    :message,
    label: false,
    placeholder: "your onetime note here...",
    as: :text
  ) %>
  <div class="preview-box">
    <p>your onetime note preview here...</p>
  </div>

  <div class="optional-fields <%= @page.optional_fields_state %>">
    <%= f.input(
      :url_key,
      as: :string,
      placeholder: "url-key-example",
      label: "Specify url: #{page_url(@page)}"
    ) %>
    <%= f.input :password %>
    <%= f.input(
      :expires_at,
      collection: @page.expires_at_options,
      selected: Expiration::DEFAULT
    ) %>
    <%= f.input :redirect, label: "Vanish after several seconds" %>
    <%= f.input :multiview, label: "Allow page to be viewed multiple times" %>
    <%= f.input(
      :duration,
      input_html: { value: 7, max: 10, min: 1 },
      wrapper_html: { class: @page.duration_state }
    ) %>
  </div>

  <%= f.button :submit, "Create Note" %>
<% end %>

<button id="more-options">More Options</button>
