<h1>Create a onetime note</h1>

<%= render partial: "giphy" %>

<%= simple_form_for(@page) do |f| %>
  <div class="message-wrap">
    <%= f.input_field(
      :message,
      label: false,
      placeholder: "your onetime note here...",
      as: :text
    ) %>
    <div class="preview-box">
      <p>your onetime note preview here...</p>
    </div>
  </div>

  <div class="optional-fields hidden">
    <%= f.input :duration, input_html: { value: 7, max: 10, min: 1 } %>
    <%= f.input(
      :url_key,
      as: :string,
      placeholder: "example",
      label: "Specify url: #{root_url + "example"}"
    ) %>
    <%= f.input :password %>
  </div>

  <%= f.button :submit, "Create Note" %>
  <button id="more-options">More Options</button>
<% end %>

