<%= render partial: "description" %>

<%= simple_form_for(@page) do |f| %>
  <%= f.input(
    :url_key,
    as: :string,
    placeholder: "url-key-example",
    label: "Your Message's Url: #{root_url}url-key-example"
  ) %>
  <%= f.input :message, placeholder: "your secret message here..." %>

  <%= render partial: "emoticons" %>
  <%= render partial: "paste_links" %> 
  <div class="preview-box">
    <p>your secret message preview here...</p>
  </div>
  <%= f.input :duration, input_html: { value: 3, max: 10, min: 1 } %>
  <%= f.input :require_password %>
  <%= f.input :password %>
  <%= f.button :submit %>
<% end %>

