<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="ROBOTS" content="NOODP" />
  <meta name="viewport" content="initial-scale=1" />
  <meta name="description" content="Like snapchat but more annoying and twice as creepy. Create a onetime note that will vanish after several seconds. Notes can use GIFs, images, and Markdown. Password protection is optional." />
  <%#
    Configure default and controller-, and view-specific titles in
    config/locales/en.yml. For more see:
    https://github.com/calebthompson/title#usage
  %>
  <meta name="google-site-verification" content="39mJJh9e7Lm4u008QAAdEMbcLFFY19K6GM94GiwhezE" />
  <title><%= title %></title>
  <%= favicon_link_tag 'dance.png' %>
  <%= stylesheet_link_tag :application, media: "all" %>
  <%= csrf_meta_tags %>
  <link rel="canonical" href="<%= root_url %>">
</head>
<body class="<%= body_class %>">
  <%= render "flashes" -%>
  <%= yield %>
  <%= render "javascript" %>
</body>
</html>
